<input type="hidden" name="{$tokenKey}" value="{$token}" />
{snippet file-list}
    <div class="column">
        <div class="row column dotted callout default large-up-6 {if $displayError}is-invalid-input{/if}">
            <div n:foreach="$files as $file" class="column text-center">
                <i class="fa fa-file-o fa-4x" aria-hidden="true" title="{$file->getPath()}"></i>
                {if !$iterator->last}
                    <br>
                {/if}
            </div>
        </div>
    </div>
{/snippet}
