<div n:if="$validators">
    {foreach $validators as $validator}
        {var $cm = $validator->getConditionMessage()}
        <small>{_$cm->getMessage(), null, $cm->getParameters()}</small><br>
    {/foreach}
</div>
{var $dropzoneId = $htmlId . '-dropzone'}
<div id="{$dropzoneId}" class="dropzone">
    <input type="file" multiple name="{$inputName}" class="fallback" />
</div>
<button type="button" class="js-do-upload button">
    Nahraj
</button>
<script>
    _stack.push(function() {
        if (Dropzone === undefined) {
            return;
        }
        Dropzone.autoDiscover = false;

        var htmlId = {$htmlId};
        var selector = '#' + {$dropzoneId};
        var conf = {
            'url': {link upload!},
            'autoProcessQueue': false,
            'addRemoveLinks': true,
            'uploadMultiple': true,
            'parallelUploads': 1,
            'dictRemoveFile': 'Delete file',
            'dictDefaultMessage': 'Default msg',
            'dictInvalidFileType': 'Invalid file type'
        };
        var acceptedFiles = {$acceptedFiles};
        if (acceptedFiles) {
            conf.acceptedFiles = acceptedFiles;
        }

        var dropzone = new Dropzone(selector, conf);

        dropzone.on("processing", function() {
            dropzone.options.autoProcessQueue = true;
        });

        dropzone.on("errormultiple", function(files, message, xhr) {
            console.error(files);
            console.error(message);
            console.error(xhr);
        });

        dropzone.on('success', function(file, response){
            setTimeout(function(){
                dropzone.removeFile(file);
            }, 1500);
        });

        dropzone.on('queuecomplete', function(){
            dropzone.options.autoProcessQueue = false;
        });

        var button = document.querySelector('#' + htmlId + ' .js-do-upload');
        button.addEventListener('click', function(){
            dropzone.processQueue();
        });
    });
</script>
